.footer {
  position: relative;
  background-image: url("../Images/footer-background.png");
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
  }

  &::before {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      width: 180px;
      height: 120px;
      left: 0;
      background-image: url("../Images/decor-bread-small.png");
    }
  }

  &::after {
    width: 100px;
    height: 90px;
    right: 0;
    background-image: url("../Images/vsbkdjvb-PhotoRoom.png");
    @media screen and (min-width: $bp-tablet) {
      display: block;
      width: 380px;
      height: 185px;
      right: 0;
      background-image: url("../Images/decor-bread-large.png");
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__messenger {
    padding-top: 16px;
    justify-content: center;
    display: flex;
    gap: 22px;
  }

  &__nav,
  &__address {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__adress-link:hover {
    color: var(--color-brand-nornal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }

  &__address-icon:hover {
    fill: var(--color-brand-nornal);
  }

  &__address-copyright {
    font-size: 14px;
  }
}
